# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nft-dashboard/node_modules
/nft-dashboard/.pnp
/nft-dashboard.pnp.js

# testing
/nft-dashboard/coverage

# next.js
/nft-dashboard/.next/
/nft-dashboard/out/

# production
/nft-dashboard/build

# misc
/nft-dashboard.DS_Store
/nft-dashboard*.pem

# debug
/nft-dashboardnpm-debug.log*
/nft-dashboardyarn-debug.log*
/nft-dashboardyarn-error.log*

# local env files
/nft-dashboard/.env.local
/nft-dashboard/.env.development.local
/nft-dashboard/.env.test.local
/nft-dashboard/.env.production.local

# vercel
/nft-dashboard/.vercel

# typescript
/nft-dashboard/*.tsbuildinfo
